* {
    box-sizing: border-box;
    /* box-sizing: content-box; */
}

.bigHolder {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    /* background-color: #1e1c36; */
    background-color: #1d1c28;
    color: #f8f7f9;
}

header {
    display: flex;
    justify-content: flex-start;
}

.navBar {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    background-color: #13121a;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.bigTitle {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color:#f3e440;
}

.buttonHolder {
    display: flex;
    justify-content: center;
    align-self: center;
    min-width: 60%;
    flex: 1;
    flex-wrap: wrap;
    gap: 2%;
    padding-bottom: 1em;
    max-width: 1280px;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #1d1c28;
    /* background-color: #1e1c36; */
}

.buttonHolder button {
    border: 1px solid #f8f7f9;
    border-radius: 10px;
    flex-basis: 1;
    width: 250px;
    height: 250px;
    align-items: start;
    margin: 1em;
    margin-top:3em;
    justify-content: start;
    transition: 0.1s;
}

.buttonHolder button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #6f6f6f68;
}

.buttonHolder button:active {
    transform: translateY(4px);
}

.buttonHolder img {
    align-self: center;
}

.pickRock {
    background: url("Images/rock.png");
    background-size: contain;
}
.pickPaper {
    background: url("Images/paper.png");
    background-size: contain;
}
.pickScissors {
    background: url("Images/scissors.png");
    background-size: contain;
}
.scoreHolder {
    background-color: #1d1c28;
}
.resultsText {
    font-size: 2em;
    color:#f3e440;
    display:flex;
    justify-content: center;
    margin:0;
    padding:0;
}

.choices {
    display:flex;
    justify-content: center;
    gap:3em;
    flex-wrap: wrap;
    font-size: 1.4em;
}

.choiceCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choiceCont img {
    max-width: 100px
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    background-color: #1d1c28;
}
