.centerText {
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

.flexcont {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
body {
    margin:0;
}
